[
  {
    "enabled" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 524576,
    "openSelectedFiles" : true,
    "url" : "\/System\/Library\/CoreServices\/Finder.app",
    "order" : 0,
    "bookmark" : "Ym9va3wCAAAAAAQQMAAAAI9+QoFKEeVnVisw44FXtbpEwRogkYfNJHOUovzXWTaknAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5hcHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAEAwAAYVkAAP\/\/\/w8IAAAABAMAAN1ZAAD\/\/\/8PCAAAAAQDAAD+ygAA\/\/\/\/DwgAAAAEAwAAFd8AAP\/\/\/w8QAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHCBUJ1AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABTaW1vbidzIFNTRAAIAAAABAMAAADAP1x0AAAACAAAAAAEAABBwi8rupMzxyQAAAABAQAANzVCOTkyQTYtQzVDRS0zQzY4LTk0NzgtNTRDODBCMEE2OTFDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFgAAAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAIgBAAAAAAAABSAAAPgAAAAAAAAAECAAAAgBAAAAAAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAAMCAAAJQBAAAAAAAAENAAAAQAAAAAAAAA",
    "keyCode" : 50,
    "hideIfActive" : false
  },
  {
    "openSelectedFiles" : true,
    "order" : 1,
    "url" : "\/Clipboard.clipboard",
    "openSelectedFolders" : true,
    "enabled" : true,
    "hideIfActive" : false,
    "modifierFlags" : 1179648,
    "keyCode" : 49
  },
  {
    "order" : 2,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAF2SyYr3SpJgMLBitZ0QGVhxm2SjlFUUswOWds8vDAjVVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAACdTAAADAAAACAAAAAQDAAARugAAAwAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHCKeAgAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vCwAAAAEBAABTaW1vbidzIFNTRAAIAAAABAMAAADAP1x0AAAACAAAAAAEAABBwi8rupMzxyQAAAABAQAANzVCOTkyQTYtQzVDRS0zQzY4LTk0NzgtNTRDODBCMEE2OTFDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "hideIfActive" : false,
    "modifierFlags" : 524576,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Google Chrome.app",
    "enabled" : true,
    "keyCode" : 18,
    "openSelectedFiles" : true
  },
  {
    "openSelectedFiles" : true,
    "keyCode" : 19,
    "modifierFlags" : 524608,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAOQp3vvKUaEKArKuUm+aCi9RCKORN3AOTGdiIg7CnzdyTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAnUwAAAwAAAAgAAAAEAwAADtQAAAMAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwfp54wAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAAU2ltb24ncyBTU0QACAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQcIvK7qTM8ckAAAAAQEAADc1Qjk5MkE2LUM1Q0UtM0M2OC05NDc4LTU0QzgwQjBBNjkxQxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "order" : 3,
    "url" : "\/Applications\/iTerm.app"
  },
  {
    "modifierFlags" : 524608,
    "order" : 4,
    "openSelectedFiles" : true,
    "enabled" : true,
    "keyCode" : 20,
    "openSelectedFolders" : true,
    "url" : "\/System\/Applications\/Messages.app",
    "hideIfActive" : false,
    "bookmark" : "Ym9va1QCAAAAAAQQMAAAAD16JggcgjXWBrXH\/mDkP8Jz4WRU0imsjKQb6g\/yVv+mdAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAAGFZAAD\/\/\/8PCAAAAAQDAABs6gYA\/\/\/\/DwgAAAAEAwAAVbEHAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcINnOIAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8LAAAAAQEAAFNpbW9uJ3MgU1NEAAgAAAAEAwAAAMA\/XHQAAAAIAAAAAAQAAEHCLyu6kzPHJAAAAAEBAAA3NUI5OTJBNi1DNUNFLTNDNjgtOTQ3OC01NEM4MEIwQTY5MUMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAYAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAAFAEAAAAAAAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAgIAAAQAEAAAAAAAAwIAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA="
  },
  {
    "openSelectedFiles" : true,
    "enabled" : true,
    "order" : 5,
    "hideIfActive" : false,
    "keyCode" : 22,
    "modifierFlags" : 524608,
    "bookmark" : "Ym9va1ACAAAAAAQQMAAAADNW1WVLUR6BgI4Ze+n5AFqWfO4pPzdQ63pQVokTt4NKcAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAYVkAAP\/\/\/w8IAAAABAMAAGzqBgD\/\/\/8PCAAAAAQDAABt6gYA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBwgfDhwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAAU2ltb24ncyBTU0QACAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQcIvK7qTM8ckAAAAAQEAADc1Qjk5MkE2LUM1Q0UtM0M2OC05NDc4LTU0QzgwQjBBNjkxQxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQAACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABcAQAAAAAAAAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAQAQAAAAAAABIgAADwAAAAAAAAABMgAAAAAQAAAAAAACAgAAA8AQAAAAAAADAgAABoAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "url" : "\/System\/Applications\/Mail.app"
  },
  {
    "order" : 6,
    "openSelectedFolders" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAEK63dNkDMgVEJDMX42w0hbcUDAvqcIRZ2Y0dhrLLDHwTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAnUwAAAwAAAAgAAAAEAwAA14MGAAMAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwiSJ9gAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAAU2ltb24ncyBTU0QACAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQcIvK7qTM8ckAAAAAQEAADc1Qjk5MkE2LUM1Q0UtM0M2OC05NDc4LTU0QzgwQjBBNjkxQxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 21,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "enabled" : true,
    "modifierFlags" : 524608,
    "url" : "\/Applications\/Spotify.app"
  },
  {
    "modifierFlags" : 524608,
    "enabled" : true,
    "hideIfActive" : false,
    "keyCode" : 23,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va1QCAAAAAAQQMAAAAH6PUX84QLktov72frCyOyfQIu6CpMmeW601d2xmqGyldAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAATm90ZXMuYXBwAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAAGFZAAD\/\/\/8PCAAAAAQDAABs6gYA\/\/\/\/DwgAAAAEAwAAnZwHAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcIFPTWAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8LAAAAAQEAAFNpbW9uJ3MgU1NEAAgAAAAEAwAAAMA\/XHQAAAAIAAAAAAQAAEHCLyu6kzPHJAAAAAEBAAA3NUI5OTJBNi1DNUNFLTNDNjgtOTQ3OC01NEM4MEIwQTY5MUMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAYAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAAFAEAAAAAAAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAgIAAAQAEAAAAAAAAwIAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "order" : 7,
    "url" : "\/System\/Applications\/Notes.app"
  },
  {
    "keyCode" : 26,
    "modifierFlags" : 524608,
    "openSelectedFolders" : true,
    "order" : 8,
    "hideIfActive" : false,
    "url" : "\/System\/Applications\/Preview.app",
    "bookmark" : "Ym9va1QCAAAAAAQQMAAAAIb8dICahdW81ND\/fqrDZEdrUDEa+AIMeTMXvRKtUeipdAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwsAAAABAQAAUHJldmlldy5hcHAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAAGFZAAD\/\/\/8PCAAAAAQDAABs6gYA\/\/\/\/DwgAAAAEAwAAimwHAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcIFQBwAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8LAAAAAQEAAFNpbW9uJ3MgU1NEAAgAAAAEAwAAAMA\/XHQAAAAIAAAAAAQAAEHCLyu6kzPHJAAAAAEBAAA3NUI5OTJBNi1DNUNFLTNDNjgtOTQ3OC01NEM4MEIwQTY5MUMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAYAEAAAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAAFAEAAAAAAAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAgIAAAQAEAAAAAAAAwIAAAbAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "openSelectedFiles" : true,
    "enabled" : true
  },
  {
    "url" : "\/Applications\/Slack.app",
    "hideIfActive" : false,
    "enabled" : true,
    "openSelectedFolders" : true,
    "order" : 9,
    "keyCode" : 28,
    "modifierFlags" : 524608,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAALqPf9eVmD19W769TmBHiFkakOnq7J99uKIBHtV4L5GOTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAnUwAAAwAAAAgAAAAEAwAA5GwEAAMAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwiO6nwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAAU2ltb24ncyBTU0QACAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQcIvK7qTM8ckAAAAAQEAADc1Qjk5MkE2LUM1Q0UtM0M2OC05NDc4LTU0QzgwQjBBNjkxQxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "order" : 10,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAHQT1pL2N6Ns3iDgArkWhOZ8IPwsagL27qMkkO3T5xSlTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAAB6b29tLnVzLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAnUwAAAwAAAAgAAAAEAwAAX3MEAAMAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwi1\/oIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwsAAAABAQAAU2ltb24ncyBTU0QACAAAAAQDAAAAwD9cdAAAAAgAAAAABAAAQcIvK7qTM8ckAAAAAQEAADc1Qjk5MkE2LUM1Q0UtM0M2OC05NDc4LTU0QzgwQjBBNjkxQxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 25,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/zoom.us.app",
    "hideIfActive" : false,
    "enabled" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 524608
  },
  {
    "openSelectedFolders" : true,
    "order" : 11,
    "enabled" : true,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAAFwlHum2\/GHpMtvwR54ix0bVPCZZHDIAtmuIu8YcJZqXZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAIScAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcHeRIAAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAADIyRTk0RTBELURENDMtNENBNS05RENDLTBBRTZCRDVBOEY4NBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "keyCode" : 29,
    "modifierFlags" : 524576,
    "url" : "\/System\/Applications\/Calendar.app"
  },
  {
    "bookmark" : "Ym9va3gCAAAAAAQQMAAAABH+PfRluRckB1hJ2wajrxo07JFI596V7F2H83nF\/duEmAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAAFAAAAAEBAABBY3Rpdml0eSBNb25pdG9yLmFwcBAAAAABBgAAEAAAACAAAAA0AAAASAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAADVPgEA\/\/\/\/DwgAAAAEAwAA1z4BAP\/\/\/w8QAAAAAQYAAHwAAACMAAAAnAAAAKwAAAAIAAAAAAQAAEHB3kSAAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAAJAAAAAEBAABGM0M1RjcxQy1BMThELTRDRjgtQTMyNy1DQzFGODU3MzM3MTMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7\/\/\/8BAAAAAAAAAA0AAAAEEAAAZAAAAAAAAAAFEAAAvAAAAAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAACIAAAhAEAAAAAAAAFIAAABAEAAAAAAAAQIAAAFAEAAAAAAAARIAAAOAEAAAAAAAASIAAAKAEAAAAAAAATIAAA1AAAAAAAAAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAAAAAQ0AAABAAAAAAAAAA=",
    "url" : "\/System\/Applications\/Utilities\/Activity Monitor.app",
    "openSelectedFiles" : true,
    "enabled" : true,
    "order" : 12,
    "keyCode" : 48,
    "openSelectedFolders" : true,
    "modifierFlags" : 524608,
    "hideIfActive" : false
  },
  {
    "hideIfActive" : false,
    "keyCode" : 42,
    "openSelectedFiles" : true,
    "modifierFlags" : 524608,
    "bookmark" : "Ym9va1ACAAAAAAQQMAAAAARFXLA3uDrPv+6GMA2\/e6j2R\/kHUWO1LcCg6VqpZdqEcAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucxYAAAABAQAAU3lzdGVtIFByZWZlcmVuY2VzLmFwcAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAUCkBAP\/\/\/w8MAAAAAQYAAGgAAAB4AAAAiAAAAAgAAAAABAAAQcHeRIAAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAkAAAAAQEAAEYzQzVGNzFDLUExOEQtNENGOC1BMzI3LUNDMUY4NTczMzcxMxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABUAAAAAAAAAAUQAACYAAAAAAAAABAQAAC8AAAAAAAAAEAQAACsAAAAAAAAAAIgAABcAQAAAAAAAAUgAADcAAAAAAAAABAgAADsAAAAAAAAABEgAAAQAQAAAAAAABIgAAAAAQAAAAAAABMgAACsAAAAAAAAACAgAAA8AQAAAAAAADAgAABoAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "order" : 13,
    "enabled" : true,
    "url" : "\/System\/Applications\/System Preferences.app"
  }
]